# Folder/all
**/arch/ #archives
**/academic/  #academic papers
**/test* #various tests
**/test/ #various tests

# Folder/back or front
front/**/France/
front/**/Japan/
back/data/

# Files (globes)
*.zip
*.rar
*.shp
*.shx
*.dbf
*.prj
*.tif
*.tiff
*.sql
*.pdf
*.sbn
*.sbx
*.tsv
*.csv
*.gif
#*.png
#*.jpg
*.geo.json
#*.topo.json
#*.html
*_.html
#*.svg

# Root
*.README.html
*.VERSION.txt



