# Folder
**/France/
**/Japan/
**/data/
**/arch/
**/academic/
**/node_modules/
**/test

# Files (globes)
*.zip
*.rar
*.tiff
*.tif
*.shp
*.shx
*.dbf
*.prj
*.geo.json
*.sql
*.pdf
*.sbn
*.sbx
*.tsv
*.csv
*.svg

# Root
*.README.html
*.VERSION.txt



