**/France
**/Japan
data/
arch/
academic/
**/node_modules

*.zip
*.rar
*.tiff
*.tif
*.shp
*.shx
*.dbf
*.prj
*.geo.json
*.sql
*.pdf
*.sbn
*.sbx
*.tsv
*.csv
*.css
*.png
*.svg

*.README.html
*.VERSION.txt



